
span.lightbox-handle.sqs-system-button.sqs-editable-button {
    background-color: #02a8f3;
    padding: 20px 30px;
    border-radius: 4px;
}

#footer {
    width: 100%;
    background-color: #333;
    position: relative;
}
/* cyrillic */

/*Talents Showcase - Start */
    @-webkit-keyframes showcase-loop {
    0%,100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

@keyframes showcase-loop {
    0%,100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.talents_showcase {
    margin: 20px 0 0;
    padding-bottom: 2px;
    position: relative;
    width: 100%;
    z-index: 1
}

.flexbox .talents_showcase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media only screen and (max-width: 668px) {
    .flexbox .talents_showcase {
        -webkit-animation:showcase-loop 50s cubic-bezier(.445,.05,.55,.95) infinite;
        animation: showcase-loop 50s cubic-bezier(.445,.05,.55,.95) infinite;
        -webkit-box-pack: start!important;
        -webkit-justify-content: flex-start!important;
        -ms-flex-pack: start!important;
        justify-content: flex-start!important;
        margin: 10px -25px 0!important;
        position: relative;
        width: auto
    }
}

@media only screen and (max-width: 524px) {
    .flexbox .talents_showcase {
        margin:10px -15px 0!important
    }
}

.no-flexbox .talents_showcase {
    text-align: center;
    white-space: nowrap
}

.no-flexbox .talents_showcase:after,.no-flexbox .talents_showcase:before {
    content: "";
    display: table
}

.talents_showcase.for-home {
    position: absolute;
    z-index: 100;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 0;
}

.talents_showcase.for-home .talents_showcase-item {
    height: 200px;
    display: inline-block;
}

.talents_showcase.for-home .talents_showcase-item_image_wrapper {
    height: 120px
}

.flexbox .talents_showcase.is-short {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.flexbox .has-background_image .talents_showcase.is-short {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.no-flexbox .has-background_image .talents_showcase.is-short {
    text-align: left
}

.talents_showcase.for-audience_page_long {
    margin: 0
}

.talents_showcase-item {
    width: 200px;
    height: 220px;
    padding: 10px 0;
    text-decoration: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s
}

.talents_showcase-item:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.flexbox .talents_showcase-item {
    -webkit-flex-basis: 13.5%;
    -ms-flex-preferred-size: 13.5%;
    flex-basis: 13.5%;
    margin-right: 10px
}

.flexbox .talents_showcase-item:last-child {
    margin-right: 0
}

@media only screen and (max-width: 1360px) {
    .flexbox .talents_showcase-item {
        -webkit-flex-basis:16%;
        -ms-flex-preferred-size: 16%;
        flex-basis: 16%
    }

    .flexbox .talents_showcase-item.is-6 {
        display: none
    }

    .flexbox .talents_showcase-item.is-5 {
        margin-right: 0
    }
}

@media only screen and (max-width: 1142px) {
    .flexbox .talents_showcase-item {
        -webkit-flex-basis:19%;
        -ms-flex-preferred-size: 19%;
        flex-basis: 19%
    }

    .flexbox .talents_showcase-item.is-5 {
        display: none
    }

    .flexbox .talents_showcase-item.is-4 {
        margin-right: 0
    }
}

@media only screen and (max-width: 896px) {
    .flexbox .talents_showcase-item {
        -webkit-flex-basis:24%;
        -ms-flex-preferred-size: 24%;
        flex-basis: 24%
    }

    .flexbox .talents_showcase-item.is-4 {
        display: none
    }

    .flexbox .talents_showcase-item.is-3 {
        margin-right: 0
    }
}

@media only screen and (max-width: 668px) {
    .flexbox .talents_showcase-item {
        -webkit-flex-basis:160px;
        -ms-flex-preferred-size: 160px;
        flex-basis: 160px;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 0;
        padding: 10px 5px
    }

    .flexbox .talents_showcase-item:hover {
        -webkit-transform: none;
        transform: none
    }

    .flexbox .talents_showcase-item.is-4,.flexbox .talents_showcase-item.is-5,.flexbox .talents_showcase-item.is-6 {
        display: block
    }
}

.no-flexbox .talents_showcase-item {
    display: inline-block;
    padding: 10px 5px;
    width: 170px
}

.talents_showcase-item_inner {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    overflow: hidden;
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s
}

.talents_showcase-item_inner.has-no_shadow {
    box-shadow: none;
    border: none
}

.talents_showcase-item:hover .talents_showcase-item_inner.has-no_shadow {
    box-shadow: none
}

.talents_showcase-item:hover .talents_showcase-item_inner {
    box-shadow: 0 2px 10px rgba(0,0,0,.25)
}

.talents_showcase-item_image_wrapper {
    border-radius: 2px 2px 0 0;
    height: 140px;
    overflow: hidden;
    position: relative
}

.talents_showcase-item_image_wrapper.is-big {
    height: 220px
}

.talents_showcase-item_image {
    height: 140px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 800px
}

.talents-item,.team_member {
    position: relative
}

.talents_showcase-item_image>img {
    height: 140px
}

.talents_showcase-item_image.is-big,.talents_showcase-item_image.is-big>img {
    height: 220px
}

.talents_showcase-item_info {
    padding: 10px 5px;
    text-align: center
}

.talents_showcase-item_name {
    color: #3863a0;
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .2px;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap
}

.flexbox .talents,.flexbox .talents-item_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.bosses-person-header,.bosses-role,.investors-name,.team_members-department strong,.tech_battle_authors-name {
    font-weight: 600
}

.talents_showcase-item:hover .talents_showcase-item_name {
    color: #3863a0
}

.talents_showcase-item_text {
    color: #a9a9a9;
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.flexbox .talents {
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    display: flex
}

@media only screen and (max-width: 668px) {
    .flexbox .talents {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.no-flexbox .talents:after,.no-flexbox .talents:before {
    content: "";
    display: table
}

#footer {
    width: 100%;
    background-color: #333;
    position: relative;
}

.talents_showcase.for-home {
    position: absolute;
    top: -200px;
    z-index: 9000;
    margin: 0 auto;
    text-align: center;
    left: 0;
}

.sqs-announcement-bar-dropzone .title-nav-wrapper{
  padding-bottom: 200px;
}

@media only screen and (max-width: 768px){
  .sqs-announcement-bar-dropzone .title-nav-wrapper{
      padding-bottom: 200px !important;
  }
}

.talents_showcase.for-home .talents_showcase-item {
    height: 200px;
    display: inline-block;
}

.talents_showcase-item_info{
  padding: 0;
}

a.talents_showcase-item:nth-child(n+6) {
    display: none !important;
}

@media only screen and (max-width: 1036px) {
  a.talents_showcase-item:nth-child(n+5) {
      display: none !important;
  }
}

@media only screen and (max-width: 860px) {
  a.talents_showcase-item:nth-child(n+4) {
      display: none !important;
  }
}

@media only screen and (max-width: 650px) {
  a.talents_showcase-item:nth-child(n+3) {
      display: none !important;
  }
}

/* Talents Showcase - End*/
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v12/DgBpgaYycijFA8v2hNt7MfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v12/peRd8sj511qE2lHtK-QfcPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v12/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v12/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/5hX15RUpPERmeybVlLQEWBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/fU0HAfLiPHGlZhZpY6M7dBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/CPRt--GVMETgA6YEaoGitxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3ifesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpDTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpDUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpCYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(https://fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/O_WhD9hODL16N4KLHLX7xSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/3Nwg9VzlwLXPq3fNKwVRMCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/b31S45a_TNgaBApZhTgE6CEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(https://fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9ede9INZm0R8ZMJUtfOsxrw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9bpHcMS0zZe4mIYvDKG2oeM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9RHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(https://fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9YWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
